body {
    font-family: 'Cairo', sans-serif;
    background: #666666;

    
}
h5:hover {
    color: dodgerblue;
}


h1 {
    margin-bottom: 40px;
}

h5 {
    margin-bottom: 30px;
}

img {
    margin-bottom: 20px;
    border: 2px solid black;
}